<div class="container">
    <!-- Navbar-header -->
{{vm.messages}}
    <chat-popups messages=vm.messages></chat-popups>


    <div class="navbar-header">
        <!-- LOGO -->
        <img src="styles/picksberry.png" class="logo"></img>
    </div>
    <!-- end navbar-header -->
    <!-- menu -->
    <div class="navbar-collapse collapse" id="navbar-menu">
        <!-- Navbar left -->
        <ul class="nav navbar-nav nav-custom-left">
            <!-- <li class="">
                <a href="#home">Home</a>
            </li>
            <li class="">
                <a href="#features">Features</a>
            </li>
            <li class="">
                <a href="#pricing">Plans</a>
            </li>
            <li>
                <a href="#team">Team</a>
            </li>
            <li>
                <a href="#faq">FAQ</a>
            </li> -->
            <li>
                <a class=" btn-link" ui-sref="search">
                    <span> {{vm.language.text.search}}</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                {{vm.nick}}
                <img src="{{vm.loggedUser.avatar.url}}" class="avatar"></img>
                <span class="caret"></span>
              </a>
                <ul class="dropdown-menu arrow">
                    <li><a ui-sref="editUserInfo" href="#/editUserInfo">{{vm.language.text.edit_profile}}</a></li>
                    <li><a href="#" ng-click="vm.gotoChangePassword()">{{vm.language.text.change_password}}</a></li>
                    <li><a ui-sref="login"><span class="glyphicon glyphicon-off" ng-click="vm.logout()">{{vm.language.text.log_out}}</span></a></li>
                </ul>
            </li>
            <li>
                <a class=" btn-link" ui-sref="myservices">
                    <span> {{vm.language.text.my_services}}</span>
                </a>
            </li>
            <li>
                <a class=" btn-link" ui-sref="mycompanies">
                    <span> company</span>
                </a>
            </li>
            <li>
                <a class=" btn-link" ui-sref="myproducts">
                    <span> Produsele mele</span>
                </a>
            </li>
            <li>
                <a class=" btn-link" ui-sref="messages">
                    <span> Mesaje</span>
                </a>
            </li>
             <li>
                <a class=" btn-link" ui-sref="history">
                    <span> Istoric</span>
                </a>
            </li>
            <li>
                <a class=" btn-link" ui-sref="screenscrap">
                    <span> Notificare continut web</span>
                </a>
            </li>
            <li>
                <a class=" btn-link" ui-sref="trace">
                    <span> Urmareste</span>
                </a>
            </li>
            <li>
                <a class=" btn-link" ui-sref="xpath">
                    <span> xpath</span>
                </a>
            </li>
             <li>
                <a class=" btn-link" ui-sref="scraplist">
                    <span> scraplist</span>
                </a>
            </li>
             <li>
                <a class=" btn-link" ui-sref="lic">
                    <span> Licitatii</span>
                </a>
            </li>
            <!-- <li>
                <a class=" btn-link" ui-sref="mycompanies">
                    <span> {{vm.language.text.my_companies}}</span>
                </a>
            </li> -->
        </ul>
        <!-- <div class="dropdown nav navbar-nav">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="lang-sm lang-lbl-full" lang="{{vm.language.languages.selection.code}}"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="lang in vm.language.languages.list">
                    <span class="lang-sm lang-lbl-full" lang="{{lang.code}}" ng-click="vm.changeLanguage(lang)"></span>
                </li>
            </ul>
        </div> -->
        <ui-select ng-model="vm.language.languages.selection" theme="select2" style="min-width: 300px;">
            <!-- <ui-select-match placeholder="select">{{$select.selected.code}}</ui-select-match> -->
            <ui-select-match placeholder="select">
                <span class="lang-sm lang-lbl-full" lang="{{$select.selected.code}}"></span>
            </ui-select-match>
            <ui-select-choices repeat="lang in vm.language.languages.list | filter: {code: $select.search}">
                <div ng-click="vm.changeLanguage(lang)" ng-bind-html="lang.code | highlight: $select.search"></div>
                <small>
            <span class="lang-sm lang-lbl-full" lang="{{lang.code}}" ng-click="vm.changeLanguage(lang)"></span>
            </small>
            </ui-select-choices>
        </ui-select>
    </div>
    <!--/Menu -->
</div>
